<p id="notice"><%= notice %></p>
<div class="wrapper">
  <p><%= @task.title %></p>
  <p><%= @task.content %></p>
  <%= link_to t('view.Edit'), edit_task_path(@task) %>
  <%= link_to t('view.Destroy'), @task, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to t('view.Back'), tasks_path %>
</div>
