<p id="notice"><%= notice %></p>
<div class="wrapper">
  <p><%= t('view.state') %> : <%= @task.state %></p>
  <p><%= t('view.title') %> : <%= @task.title %></p>
  <p><%= t('view.content')%> : <%= @task.content %></p>
  <p><%= t('view.deadline')%> : <%= @task.deadline %></p>
  <p><%= t('view.priority') %> : <%= @task.priority %></p>
  <%= link_to t('view.Edit'), edit_task_path(@task) %>
  <%= link_to t('view.Destroy'), @task, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to t('view.Back'), tasks_path %>
</div>
