<div class="wrapper">
  <h1><%= @user.name %>のページ</h1>
  <p>メールアドレス: <%= @user.email %></p>
  <% if @user.id == current_user.id || current_user.admin? %>
    <%= link_to t('view.Edit'), edit_admin_user_path(@user) %>
    <%= link_to t('view.Destroy'), @user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to t('view.Back'), admin_users_path %>
    <div>タスク一覧</div>
      <%= paginate @task %>
        <% @task.each do |task| %>
          <div class="article_wrapper">
            <%= link_to task do %>
              <div class="article">
                <div class="title_wrapper"><%= t('view.title') %> : <%= task.title %></div>
                <div class="priority_wrapper"><%= t('view.priority') %> : <%= task.priority %></div>
                <div class="state_wrapper"><%= t('view.state') %> : <%= task.state %></div>
                <div class="deadline_wrapper"><%= t('view.deadline')%> : <%= task.deadline %></div>
                <div class="created_at_wrapper"><%= t('view.created_at') %> : <%= task.created_at %></div>
              </div>
            <% end %>
          </div>
        <% end %>
      <%= paginate @task %>
  <% else %>
  <%= link_to 'Back', admin_users_path %>
  <% end %>
</div>
